
/*
*{
    font-size: 1.01em ;
    font-family: 'Markazi Text', serif;
}
*/

/*body{*/
/*    background-color: rgb(250,250,250) ;*/
    /*font-family: 'Amiri', serif;*/
/*    font-family: 'Markazi Text', serif;*/
    /*font-size: 1.5em !important;*/


/*}*/
th, td { white-space: nowrap; }
div.dataTables_wrapper {
    width:100% ;
    margin-right:auto;
}
div.dataTables_scrollBody {
    background: rgb(250,250,250) !important;
}
/*div.dataTables_wrapper {*/
/*    direction: rtl;*/
/*    !*text-align: right;*!*/
/*}*/

/*
.fa-edit {
    color: #007bff;

}
*/

/*
.fa-trash-alt {
    color: #dc3545;
}
*/
/* start scrollbar*/
/* width */
*::-webkit-scrollbar {
    width: 10px !important;
}

/* Track */
*::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey !important;
    border-radius: 5px !important;
}

/* Handle */
*::-webkit-scrollbar-thumb {
    background: #808080 !important;
    border-radius: 10px !important;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
    background: #000000 !important;
}
/* end scrollbar*/

/*Profile Menu*/

/*
.bg-secondary a{
    color: black !important;
}
*/


